@import "fonts";

$container-width: 1170px;

$text-color: #000;
$text-font-family: "Roboto", "Arial", sans-serif;
$text-font-size: 20px;
$text-small-font-size:14px;
$text-font-weight: 400;
$text-font-weight-bold: 500;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-big-tablet: 991px;
$breakpoint-desktop: 1024px;

$nav-font-family:"Karla", "Arial", sans-serif;

$input-border-color: 1px solid rgba(0, 0, 0, 0.38);
$input-padding: 15px;
$input-border-radius: 8px;
$input-font-size: 16px;

$btn-padding: 10px 30px;
$btn-background-color:#F2F9FE;
$btn-text-color:#2196F3;
$btn-border-radius: 4px;
$btn-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);