@import "vars";
@import "fonts";
@import "normalize.css/normalize.css";

ul {
  margin: 0;
  padding-inline-start: 0;
}

figure {
  margin: 0;
}

li {
  list-style-type: none;
}

h6 {
  font-weight: $text-font-weight-bold;
  font-size: $text-font-size;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $text-color;
}

span {
  font-size: $text-small-font-size;
  color: rgba(0, 0, 0, 0.6);
}

button {
  border: none;
  cursor: pointer;
}

.input-filter {
  border: $input-border-color;
  padding: $input-padding;
  border-radius: $input-border-radius;
  font-size: $input-font-size;
}

.input-filter::placeholder {
  font-size: $input-font-size;
}

.input-search {
  background-image: url("../assets/svg/search.svg");
  background-repeat: no-repeat;
  padding-left: 35px;
  background-position: 5px 50%;
  outline-offset: 0;
}

.input-select {
  background-image: url("../assets/svg/triangle.svg");
  background-repeat: no-repeat;
  padding-right: 35px;
  background-position: 100% 50%;
}

.button-load {
  font-size: $text-small-font-size;
  background: $btn-background-color;
  border-radius: $btn-border-radius;
  color: $btn-text-color;
  padding: $btn-padding;
  box-shadow: $btn-box-shadow;
  font-weight: $text-font-weight-bold;
}