@import "vars";
@import "fonts";
@import "normalize.css/normalize.css";

body {
  font-family: $text-font-family;
  font-size: $text-font-size;
  font-weight: $text-font-weight;
  color: $text-color;
}

.container {
  max-width: $container-width;
  padding: 0 15px 0 15px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  margin: 0;
  padding-inline-start: 0;
}

li {
  list-style-type: none;
}
a{
  text-decoration: none;
  color: $text-color;
}