@import '../../styles/vars';

.characters {
  .characters-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .characters-image-cover {
    @media (max-width: $breakpoint-tablet) {
      width: 300px;
      height: 100px;
    }
  }

  .characters-filtration {
    display: grid;
      grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: $breakpoint-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $breakpoint-tablet) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .characters-main {
    display: grid;
    gap: 60px;
    flex-direction: column;
    padding: 20px 0;
  }

  .characters-item-figure {
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%), 0 3px 4px rgb(0 0 0 / 12%), 0 2px 4px rgb(0 0 0 / 14%);
    border-radius: 4px;
  }

  .characters-item-description {
    padding: 12px;
  }

  .characters-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    @media (max-width: $breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $breakpoint-mobile) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .characters-item-img{
    width: 100%;
    object-fit: cover;
  }
}
